@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html,
  body {
    @apply h-full 
    overflow-x-hidden overflow-y-auto
    bg-white;

    perspective-origin: right bottom;
    perspective: 1px;
    -webkit-overflow-scrolling: touch;
  }
}

@layer components {
  .section {
    @apply w-full relative overflow-hidden;
  }

  .container {
    @apply w-full max-w-xl mx-auto px-8;
  }
}

@layer utilities {
  .text-min-xl {
    font-size: min(13.8vw, 48px);
  }

  .text-min-md {
    font-size: min(10vw, 20px);
  }

  .gradient {
    background: radial-gradient(160% 100% at 77% 0%, #b76f97 0%, #ec899b 40%, #ffa8a7 75%, #ffbdbd 100%);
  }

  .text-gradient {
    background: linear-gradient(275deg, #ac3eb7 10%, #ea8e98 75%, #ffbdbd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
